:root {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif; }

body {
  overflow: hidden; }

.main-box {
  height: 100vh;
  width: 100%;
  position: relative; }
  .main-box .side-text {
    transform: rotate(270deg) translateX(-35rem);
    float: left; }
    .main-box .side-text-1 {
      display: block;
      font-size: 7rem;
      font-weight: 700;
      letter-spacing: 5px; }
    .main-box .side-text-2 {
      display: block;
      font-size: 2.5rem;
      font-weight: 700;
      text-align: center;
      color: #ccc; }
  .main-box .main-products {
    height: 80rem;
    width: 80rem;
    margin: 12rem auto;
    display: flex;
    justify-content: space-between; }
    .main-box .main-products .product-1, .main-box .main-products .product-2 {
      border-top-right-radius: 25px;
      border-top-left-radius: 25px; }
      .main-box .main-products .product-1 .add-button, .main-box .main-products .product-2 .add-button {
        display: block;
        margin: 2rem auto;
        padding: 1rem;
        width: 5rem;
        background-color: #fff;
        font-size: 2rem;
        font-weight: bold;
        border-radius: 20px;
        text-decoration: none;
        text-align: center; }
    .main-box .main-products .product-1 {
      height: 100%;
      width: 40%;
      margin-right: 10px;
      background: linear-gradient(to right, #005a7b, #4bb18d); }
      .main-box .main-products .product-1 img {
        width: 50rem;
        transform: translate(-14rem, -10rem) rotate(-25deg); }
      .main-box .main-products .product-1 .product-description {
        margin-top: -3rem; }
    .main-box .main-products .product-2 {
      background: linear-gradient(to right, #120e0d, #ff7d63);
      height: 90%;
      width: 40%;
      transform: translateY(10%); }
      .main-box .main-products .product-2 img {
        width: 50rem;
        transform: translate(-13rem, 5rem) rotate(-25deg); }
      .main-box .main-products .product-2 .product-description {
        margin-top: 15rem; }
    .main-box .main-products .product-description {
      text-align: center; }
      .main-box .main-products .product-description .product-title {
        display: block;
        margin-bottom: 2rem;
        font-size: 2rem;
        color: #fff; }
      .main-box .main-products .product-description .product-price {
        display: block;
        color: #ffb2b2;
        font-size: 3rem; }
  .main-box .brands-box {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 15%;
    height: 50%; }
    .main-box .brands-box .brand-box {
      width: 15%;
      height: 30%;
      margin: 0 auto; }
      .main-box .brands-box .brand-box .brand {
        height: 30%; }
  .main-box .socials-box {
    position: absolute;
    top: 85%;
    right: 5%; }
    .main-box .socials-box .socials {
      text-decoration: none;
      margin-right: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: #000; }

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem; }
  .navigation .logo {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .navigation .menu-box {
    height: 3rem; }
    .navigation .menu-box .menu {
      padding: 2px; }
      .navigation .menu-box .menu span {
        display: block;
        height: 3px;
        width: 4rem;
        background-color: #000;
        margin-bottom: 5px; }
